.subtitle{
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0.623);
    width: fit-content;
}
.title{
    font-family: 'Finger Paint', cursive;
    /* font-family: 'Pacifico', cursive; */
    font-size: 100px;
    color: rgb(90, 50, 12);
}
#titleBox{
    background-image:url("mud.jpg");
    background-size: cover;
    background-position: bottom;
}