#plot {
    font-style: italic;
}

#movieTitle {
    font-weight: 700;
    font-size: 300%;
}

#imdbRating {
    color: rgb(204, 175, 9);
    font-weight: 500;
}

#rtRating {
    color: rgb(212, 48, 48);
    font-weight: 500;
}

#mcRating {
    color: rgb(61, 199, 48);
    font-weight: 500;
}

#trailerUrl {
    color: rgb(13, 201, 226);
    font-weight: 500;
    font-size: 125%;
}

.style-btn {
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}

.watchListHeader {
    color: rgb(243, 235, 235);
    font-size: 300%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 27%;
}

.subtitle{
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    width: fit-content;
}
#titleRT{
    font-family: 'Finger Paint', cursive;
    /* font-family: 'Pacifico', cursive; */
    font-size: 100px;
    color: rgb(90, 50, 12);
}
#titleBox{
    background-image:url("../images/potatoes.png");
    background-size: cover;
    background-position: bottom;
    border-color: rgba(240, 248, 255, 0);
}    
#potatoImg{
    background-color: transparent;
}